{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}

<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

{% endblock %}

{% block content %}

    {% for category in categories %}

        <!-- Example split danger button -->
        <div class="btn-group">
          <a href="{{ category.get_absolute_url }}" class="btn btn-secondary">{{ category.name }}</a>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
              {% for sub in category.scategory.all %}
                <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                <li><hr class="dropdown-divider"></li>
              {% endfor %}

          </ul>
        </div>

<!--    <a class="btn btn-secondary" style=" display:inline-block" href="{{ category.get_absolute_url }}"> {{ category.name }} </a>-->
<!--    <a class="btn btn-secondary" style=" display:inline-block" href="{% url 'home:category_filter' category.slug %}"> {{ category.name }} </a>-->

    {% endfor %}
    </br></br>

    {% for product in products %}

        <div class="card" style="width: 18rem; display:inline-block">
          <img class="img-fluid img-thumbnail" src="{{ product.image.url }}" style="height:250px; width:300px;" >
          <div class="card-body">
            <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
            <p class="card-text">{{ product.description |truncatewords:10 }}</p>
          </div>
        </div>

{% endfor %}

{% endblock %}